.box {
  height: 489px;
  position: relative;
  width: 380px;
}

.box .group {
  height: 489px;
  left: 493px;
  
  top: 2449px;
  width: 398px;
}

.box .rectangle {
  background: linear-gradient(
    151deg,
    rgb(0, 51, 152) 0%,
    #082357 51%,
    #0F1B31 100%
  );
  border-radius: 5px;
  box-shadow: 0px 20px 20px #00000040;
  height: 469px;
  left: 8px;
  position: absolute;
  top: 11px;
  width: 363px;
}

.box .text-wrapper {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 17px;
  font-weight: 600;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 304px;
  margin-bottom: 10px;
}

.box .div {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 335px;
  margin-top: 10px;
}

.box .text-wrapper-2 {
  color: #ff7a00;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 352px;
  margin-top: 10px;
}

.box .text-wrapper-3 {
  color: #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 406px;
}

.box .rectangle-2 {
  background-color: #ffffff;
  height: 67px;
  left: 8px;
  position: absolute;
  top: 393px;
  width: 363px;
}

.box .text-wrapper-4 {
  color: #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 300px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 406px;
}

.box .text-wrapper-5 {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 427px;
}

.box .text-wrapper-6 {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 273px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 427px;
}

.box .mdi-bed {
  height: 25px;
  left: 29px;
  position: absolute;
  top: 402px;
  width: 25px;
}

.box .vector {
  height: 62.50%;
  left: 4.17%;
  
  top: 20.83%;
  
}

.box .text-wrapper-7 {
  color: #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 177px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 406px;
}

.box .text-wrapper-8 {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 179px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 427px;
}

.box .fa-solid-bath {
  background-image: url(./image.svg);
  background-size: 100% 100%;
  height: 21px;
  left: 149px;
  position: absolute;
  top: 404px;
  width: 21px;
}

.box .fluent-globe-surface {
  height: 25px;
  left: 271px;
  position: absolute;
  top: 402px;
  width: 25px;
}

.box .group-2 {
  background-image: url(./vector-2.svg);
  background-size: 100% 100%;
  height: 75.00%;
  left: 10.00%;
  position: relative;
  top: 15.00%;
  width: 80.00%;
}

.box .mask-group {
  height: 280px;
  left: 12px;
  position: absolute;
  top: 17px;
  width: 351px;
}
